site-brand/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300; }

h1 { font-size: 2.8rem; line-height: 1.2;  }
h2 { font-size: 1.8rem; line-height: 1.25; }
h3 { font-size: 1.5rem; line-height: 1.5;  }
h4 { font-size: 1.3rem; line-height: 1.35; }
h5 { font-size: 1rem; line-height: 1.5;  }
h6 { font-size: .85rem; line-height: 1.6;  }
p { font-size: 1.25rem; line-height: 1.45; }

/* Larger than phablet */
@media (min-width: 550px) {
  h1 { font-size: 3.2rem; }
  h2 { font-size: 2.8rem; }
  h3 { font-size: 1.8rem; }
  h4 { font-size: 1.6rem; }
  h5 { font-size: 1.3rem; }
  h6 { font-size: 1.1rem; }
  p {font-size: 1.5rem; }
}

p {
  font-family: 'Lato', sans-serif;
  color: $text-color;
  margin-top: 0; 
}

li{
  font-size: 1.4rem;
  font-family: 'Lato', sans-serif;
}

.strong{
  color: $grey-strong-text;
  font-weight: 700;
}

a{
  text-decoration: none !important;
}

