/*--------------------------------------------------------------
# Colors
--------------------------------------------------------------*/

$primary-blue: #323d83;
$primary-red: #a40632;
$white-color: #fff;
$slider-bg-color: #e8e8e8;
$hover-primary-color: red;
$primary-green: #a1c708;
$grey-border: #b2b2b2;
$text-color: #666666;
$grey-blue-color: #f0f5fc;
$grey-top-border: #dbdbdb;
$grey-strong-text: #555555;
$grey-footer-bg: #ededed;
$menu-border-grey: #c6c4c4;
$shadow-edge: #686868;
$gradient-top: #3A7CBE;
$gradient-bottom: #1B328A;